html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background-color: #E4D5E3;
}
h1{
  color: #AA7C7A;
  padding: 5vh;
}
p{
  font-size: 2.5rem;
}
.button {
  display: inline-block;
  background-color: #FBCCC2;
  border: none;
  border-radius: 40px;
  color: black;
  padding: 30px 50px;
  text-decoration: none;
  font-size: 40px;
  margin: 40px;
  cursor: pointer;
}
.button:hover{
  background-color: #d2bcd0;
}
.button1 {
  background-color: #F3D8D1;
}
.button1:hover {
  background-color: #f1ccc3;
}
.button2 {
  background-color: #E3EBFD;
}
.button2:hover {
  background-color: #cdd6ea;
}
.button3 {
  background-color: #E7DCFC;
}
.button3:hover {
  background-color: #ded0f8;
}
.button4 {
  background-color: #FAE0D8;
}
.button4:hover {
  background-color: #f5d0c5;
}
.button5 {
  background-color: #FCEEE2;
}
.button5:hover {
  background-color: #f4d0c5;
}
.button6 {
  background-color: #F6C6C7;
}
.button6:hover {
  background-color: #e7b8b9;
}
.button7 {
  background-color: #FEE5E0;
}
.button7:hover {
  background-color: #f8d5ce;
}
.slidecontainer{
  display: inline-block;
  background-color: #DDD8D2;
  border: none;
  border-radius: 40px;
  color: black;
  padding: 70px 90px;
  text-decoration: none;
  font-size: 60px;
  margin: 70px;
  cursor: pointer;
}
.slider {
  width: 450px;
}

.slidecontainer:hover{
  background-color: #cbc5bc;
}