html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background-color: #E4D5E3;
}
h1{
  color: #AA7C7A;
  padding: 5vh;
}
p{
  font-size: 2.5rem;
}
.button {
  display: inline-block;
  background-color: #FBCCC2;
  border: none;
  border-radius: 40px;
  color: black;
  padding: 30px 50px;
  text-decoration: none;
  font-size: 40px;
  margin: 40px;
  cursor: pointer;
}
.button1 {
  background-color: #F3D8D1;
}
.button2 {
  background-color: #E3EBFD;
}
.button3 {
  background-color: #E7DCFC;
}
.button4 {
  background-color: #FAE0D8;
}
.button5 {
  background-color: #FCEEE2;
}
.button6 {
  background-color: #F6C6C7;
}
.button7 {
  background-color: #FEE5E0;
}
.slidecontainer{
  display: inline-block;
  background-color: #DDD8D2;
  border: none;
  border-radius: 40px;
  color: black;
  padding: 70px 90px;
  text-decoration: none;
  font-size: 60px;
  margin: 70px;
  cursor: pointer;
}